
html{
  
  color: black;
  font-size: 16px;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
     
} 
@font-face {
    font-family: Recoleta;
    
    src:  url("./assets/Recoleta-Light.woff") format("woff")
}

header{
  background: #4031B7;
  width: 100%;
  height: 770px;
  align-items: center;
    /* NAVIGATION STYLE */
    nav{
        background: transparent;
        width: 100%;
        display: grid;
        
        grid-template-columns: repeat(12,1fr) ;
        padding-top: 5%;
        .logo{
            grid-column: 2/3;
        }
        ul{
            display: grid;
            grid-column:4/10 ;
            align-items: center;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 10px;
            justify-content: center;
            font-family: 'Circula', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            li{
        
                list-style-type: none;
                align-items: center;
                font-size: 0.5em;
                font-weight: lighter;
                justify-self: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                
            }
        }
    } 

    .main{
        margin-top: 10%;
        margin-left: 7%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 30px;
        .container{
            grid-column: 1/5;
            grid-row: 1;
            a{
                color: white;
                margin: auto 5%;
                text-decoration: none;
            }
            h1{
                font-size:3.9rem;
                font-weight: 200 !important;
                font-family: 'Recoleta';
                color: white;
                width: 100%;
                max-width: 610px;
                span{color: #60CBBE;}
            }
            p{
                line-height: 24px;
                font-size: 0.9rem;
                font-family:  Verdana;
                font-weight: lighter;
                max-width: 610px;
                margin-bottom: 50px;
                color: #b3b3b3;
                
            }
            button{
                border-radius:50px;
                height: 45px;
                width: 15%;
                color: white;
                padding: 10px;
                border: none;
                background-color: #60CBBE;
                &:hover{
                    background-color: #4a9b91;
                }
            }
        }
        .main-image {
            grid-column: 4/6;
            grid-row: 1;
            img{
                height: auto;
                max-width: 100%;
                
            }
        }
    }
  
}
.nav-links li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    
}
.solutions{
    max-width: 1200px;
    margin: auto;
    margin-top: 10%;
    h1{
        color: black;
        text-align: center;
        font-family: 'Recoleta';
        font-weight: 200;
        font-size: 3rem;
    }
    h6{
        color: #696767;
        font-family: 'Recoleta';
        font-size: .8em;
        text-align: center
        
    }
    .info{
        width: 100%;
        margin: 5% auto;
        display: grid;
        grid-template-columns: repeat(5,180px);
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
        :nth-child(1){
            grid-column:1 ;
        }
        :nth-child(2){
            grid-column:3 ;
        }
        :nth-child(3){
            grid-column:5 ;
        }
        .circle{
        
            background-color: #4031B7;
            height: 162px;
            width: 90%;
            border-radius: 50%;
            margin: 5%;
            display: flex;
            justify-content: center;
            img{
                align-self: center;
                
            }
            
        }
        h5{
            text-align: center;
            font-size: 1em;
            font-family: 'Recoleta';
        }
        h6{
            font-size: .85em;
        }
    }

}
.procurement{
    background-color: #FBFAF9;
    margin-top: 12%;
    .text{
        padding-top:5%;
        text-align: center;
        font-family: 'Recoleta';
        
        h1{  
            color: black;
            font-weight: 200;
            font-size: 3rem;
        }
        h2{
            font-size: 1.5rem;
            font-weight: bolder;
        }
        h5{
            color: #696767;
            font-size: 1em;
            font-weight: 200;
            
        }
        
    }
    img{
        padding-top: 40px;
        max-width: 80%;
        height: auto;
        display: block;
        margin: auto;

    }
    .services{
        padding-top: 20px;
        display: grid;
        justify-content: center;
        grid-template-columns: 24% 24% 24%;
        grid-gap: 7%;
    }
}
.infosec, .build{
    .container{
        width: 90% !important;
        max-width: 90% !important;
    }
    
    font-family: 'Recoleta';
    font-size: 16px;
  
    .another{
        
        h1{
            font-size: 3em !important;
            font-weight: bold;
        }
        h5{font-size: 1.25em;}
    }
    .anotherone{
        display: grid;
        grid-template-areas: 'image text';
        grid-template-columns: 100px auto;
        
        align-items: center;
        justify-content: justify;
        .innertext{grid-area: text;}                     
        h1{
            
            font-size: 1.5em !important;
            font-weight: bold;
            display: flex;
          
        }
        h5{font-size: 1em; grid-area: small; }
        p{
            grid-area:image;
            background-color: #4031B7;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            
        }
    } 
    img{
        
        height: 60%;
    }

}
.build{
    background-color: #FBFAF9;
    .bigtext{
        text-align: end;
    }
}


